- hosts: webserver
  become: true
  become_user: root
  tasks:
  - name: install tomcat
    yum: name=tomcat state=present
  - name: Start tomcat
    service: name=tomcat state=started
  - name: Deploy index file
    COPY: src=index.html dest=/var/www/html
    notify: restart tomat
  handlers:
  - name: restart tomcat
    service: name=tomcat state=restarted 
